*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    font-weight: 800;
    font-size: 45px;
    text-align: center;
    margin-bottom: 30px;
}
.container{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
.container div{
    width: 100px;
    height: 90px;
    background: rgb(212, 211, 211);
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

/* The animation. */
.animate{
    transform: scale(1.09);
    border: 4px solid rgb(3, 102, 53);
}
.container div h2{
    font-weight: 800;
    font-size: 29px;
}
.container div h3{
   color: rgb(3, 102, 53);
   font-size: 17px;
}